body{
  background-color: #47e66c;
}

img{
  width: 500px;
  height: (500/960*720)px;

}
div{

  text-align: center;
}

p{
  color:
white
;
  padding: 0px;
  margin: 0px;
font-size: 100px;

  font-family: Monospace;
  font-weight: bold;
}


div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}



#name{
  font-size:50px;
  color: #325e32;
}
