body{
  background-color: #47e66c;
}

img{
  padding-top: 150px;
  width: 500px;
  height: (500/960*720)px;

}
div{

  text-align: center;
}

p{
  color:
white
;
  padding: 0px;
  margin: 0px;
font-size: 100px;

  font-family: Monospace;
  font-weight: bold;
}


div {

}

#clockDirection{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 75px;
  color: #325e32;

  background: white;
  width: 150px;
  border-radius: 10px;
  font-family: Monospace;
}



#name{
  font-size:50px;
  color: #325e32;
}
